
section{
    padding: 70px 14% 60px; 
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.home-img img1{
    width: 80%;
    height: auto; 
}

.home-text h1 {
    font-size: var(--big-font);
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 3rem;
}

span{
    color: var(--main-color); 
}

.btn {
    display: inline-block;
    padding: 15px 35px;
    background: var(--other-color);
    color: var(--main-color);
    font-size: var(--p-font);
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 2rem;  
    transition: all 0-5s ease;  
}

.btn i{
    vertical-align: middle;
    margin: left;
    font-size: 22px; 
}

.btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: #3743f0b4 0px 1px 25px;
}

.btn2 {
    display: inline-block;
    margin-left: 30px;
    background: var(--other-color);
    color: var(--main-color);
    font-size: var(--p-font);
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--main-color);  
    transition: all 0-5s ease;  
}


.btn2:hover {
    transform: scale(1.1) translateX(12px);

}

header.sticky {
    padding: 12px 14%;
    background: var(--other-color); 
}