@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
  font-family: 'Montserrat';
  list-style: none;
  text-decoration: none;  
  scroll-behavior: smooth; 
  scroll-padding-top: 3rem; 
}

:root {
  --main-color: #29a7f0bb;
  --text-color: #fff;
  --other-color: #212121;
  --second-color: #9e9e9e;
  --bg-color: #09090a;
  
  --big-font: 3.3rem;
  --h2-font: 2.6rem;
  --p-font: 1.1rem;   
}

body {
  background: var(--bg-color);
  color: var(--text-color);

}